<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d593407-5cb4-4ede-8a91-46043c82dabc/resourcegroups/connchatv2/providers/Microsoft.Web/sites/connchatv2</ResourceId>
    <ResourceGroup>connchatv2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connchatv2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>connchatv2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>connchatv2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$connchatv2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LoginChat" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:connchatv2dbserver.database.windows.net,1433;Initial Catalog=connchatv2db;User ID=jim@connchatv2dbserver;Password=1qaz@WSX" Name="Data Source=tcp:connchatv2dbserver.database.windows.net,1433;Initial Catalog=connchatv2db;User Id=jim@connchatv2dbserver;Password=1qaz@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Login.Models.ApplicationDbContext, Login" MigrationConfiguration="Login.Migrations.Configuration, Login" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LoginChat-Web.config Connection String">
      <ParameterValue>Data Source=tcp:connchatv2dbserver.database.windows.net,1433;Initial Catalog=connchatv2db;User Id=jim@connchatv2dbserver;Password=1qaz@WSX</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>